*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    align-items: center;
}

.header-content {
    background-color: rgb(50, 50, 50);
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 2px solid rgb(0, 255, 0);
    box-shadow: 0px 4px 12px rgb(13, 255, 0);
}

.content-main {
    margin-top: 5vh;
    background-color: grey;
    border-radius: 25px;
    width: 70vw;
    height: 60vh;
    flex-grow: 1;
    overflow-y: auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 1px;
    background: linear-gradient(to right, #000, #00ff26);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links {
    display: flex;
    gap: 1.2rem;
}

.nav-btn {
    background: transparent;
    border: #00ff26 1px solid;
    box-shadow: 0px 0px 4px #00ff26;
    color: white;
    font-weight: 800;
    border-radius: 10px;
    padding: 10px 20px;
}

.nav-btn:hover {
    background-color: #00ff26;
    transition: all 0.3s ease;
}

.page-section {
    background-image: url('');
}